.main{
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--white-light);
    grid-area: a;
}
.nodata{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}