.main{
    font-family: 'Encode Sans', sans-serif;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}