.main {
  font-family: "Encode Sans", sans-serif;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nodata {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  position: relative;
  height: 97vh;
}
.credit {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
  font-size: 12px;
}
.copyright {
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  font-size: 12px;
  opacity: 0.5;
}
.link {
  font-size: 14px;
}
.grid {
  height: 95%;
  display: grid;
  grid-template:
      "a a b" auto
      "c c b" auto / 0% 50%;
}
