:root{
  --black: #000000;
  --black-light: #00000060;
  --blue: #4285f4;
}
body {
  margin: 0;
}
a{
  text-decoration: none;
  color: var(--blue);
}
/* starting ENTER animation */
.transition-enter {
  opacity: 0;
}

/* ending ENTER animation */
.transition-enter-active {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* starting EXIT animation */
.transition-exit {
  opacity: 1;
}

/* ending EXIT animation */
.transition-exit-active {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
