:root {
  --blue: #4285f4;
  --blue-hover: #75a7f7;
  --white: #ffffff;
  --white-light-dark: #fafafa;
  --white-dark: #efefef;
  --white-deep-dark: #dbdbdb;
  --modal: #00000040;
  --black: #000000;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--blue);
}
/* starting ENTER animation */
.transition-enter {
  opacity: 0;
}

/* ending ENTER animation */
.transition-enter-active {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* starting EXIT animation */
.transition-exit {
  opacity: 1;
}

/* ending EXIT animation */
.transition-exit-active {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* card hover animation */
.card {
  position: relative;
  margin: 1rem;
  border: 1px solid var(--white-deep-dark);
  border-radius: 1rem;
  background-image: linear-gradient(120deg, var(--white), var(--white-light-dark));
  font-size: 12px;
}
.card:hover::before{
  opacity: 1;
}
.card::before {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  content: "";
  border-radius: inherit;
  transition: opacity 0.5s;
  background-image: radial-gradient(850px circle at var(--mouse-x) var(--mouse-y),
        var(--white-dark),
        transparent 40%);
    z-index: 1;
}
.card > .card-content {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  border-radius: inherit;
  background-color: transparent;
  padding: 1rem;
  z-index: 2;
}
